@{
    ViewData["Title"] = "Confirmação para Exclusão de Candidato";
}
<div class="text-center">
    <h3 class="display-4">Deseja realmente Apagar os dados selecionados?</h3>
</div

<br />

<a class="btn btn-secondary btn-block role="button">Cancelar Exclusão</a>
<a class="btn btn-danger btn-block role="button">Confirmar Exclusão</a>

