@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página restrita Grupo Services RH";
}


<p>Voce nao tem permissao para acessar essa funcionalidade. <a>Clique aqui para voltar para a Pagina de Login</a></p>