@{
    ViewData["Title"] = "Grupo Services RH";
}

<div class="text-center">
    <h1 class="display-4">Banco de Talentos Services</h1>
    <p><h2>Aqui o seu Talento tem Valor</h2></p>
    <hr />
</div>
