@{
    ViewData["Title"] = "Grupo Services RH";
}

<div class="text-center">
    <h1 class="display-4">Grupo Services</h1>
    <p><h2>Aqui o seu Talento tem Valor</h2></p>
    <hr />

    <div class="align-center">
        <img src="https://thumbs.dreamstime.com/b/services-concept-flat-line-design-icons-elements-modern-services-concept-s-collection-services-concept-lettering-thin-68961333.jpg" class="img-thumbnail" alt="200">
    </div>
</div>
