@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Entre!</h1>
 
    <br />
          
<main class="container"> 
    
    <form action="">
        <div class="form-group">
            <label for="usuario"></label>
            <input type="text" class="form-control" placeholder="Digite seu Nome de Usuario">
            <div class="underline"></div>
        </div>

        <br />

        <div class="input-field">
            <label for="senha"></label>
            <input type="password" class="form-control" placeholder="Digite sua Senha">
            <div class="underline"></div>
        </div>
     
        <input type="submit" value="Continue">
    </form>
</main>

<div>

    <h2>Ainda nao tem cadastro? 

        <br />

        Cadastre-se gratuitamente!</h2>

    <a class="btn btn-success" asp-area="" asp-controller="Candidato" asp-action="Criar">Cadastre-se</a>
    

</div>
</div>